# Ignore all generated assets, pointclouds, and scenes
# Ignore all generated assets, pointclouds, and scenes
output/
testdataset/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore machine-specific configurations
configs/pipeline_config.json
configs/mangrove_config.json
configs/arbaro.xml

# Ignore downloaded binaries/libraries
lib/
